

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@100;300;400;500;900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #0a0a0a;
    background: fixed;
    background-image: url(./images/backgorund.jpg);
    font-size: 18px;
}

.container {
    width: 1000px;
    display: block;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    width: inherit;
    background-color: #ffff;
    margin: 10px;
}

.header--list {
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-self: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: #D898AE;
    font-weight: 900;
}

a:hover {
    font-size: 20px;
    color:#ffb1b0;
}

.header--logo {
    width: 150px;
}

h1,h2,h3,h4,h5 {
 font-family: 'Lora', serif;
 font-weight: bolder;
}

h2 {
    font-size: 35px;
    color: #574141;
}

h3 {
    font-size: 32px;
    color: #6884C9;
}

h4 {
    font-size: 28px;
    font-style: italic;
    color: #B1569A;
}

h5 {
 font-size: 25px;
 color: #AA83A5;
}

img {
  width: 700px;  
}

footer {
    color:rgb(20, 20, 20);
    padding: 50px;

}

footer h2 {
    margin-bottom: inherit;
}

b { 
    color: #7A7092;
}